.chat {
    text-align: center;
}

.message {
    margin-left: 25%;
    margin-right: 25%;
    border-bottom: 1px solid lightgrey;
    text-align: left;
}

.chatForm {
    padding-top:2rem;
    input {
        width: 60rem;
        margin-right: 2rem; 
    }
    button {
        margin-right: 1rem;
    }
}

.messageTime {
    color: grey;
    font-size: small;
    float: right;
    margin-top: 2rem;
    margin-right: 3rem;
}