.header {
    background: $orange;
    color: white;
    padding-left: 10rem;
    height: 16rem;
}

.header-user {
    padding-top: 4rem;
    font-size: 4rem;
    margin-bottom: -1.5rem;
}

.header-date {
    margin-top: 0;
}

